<style type="text/css">
    {{ asset_inline('anomaly.field_type.video::scss/plyr.scss') }}
</style>

{{ asset_add('scripts.js', 'anomaly.field_type.video::js/plyr.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.video::js/player.js') }}

<div data-type="{{ video.provider|lower }}" data-video-id="{{ video.id }}"></div>
